/* Sign In / Sign Up */
.loginForm {
  height: 100vh;
  width: 250px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;

  h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  button {
    border-radius: 5px;
    width: 100%;
    font-weight: 600;
    font-size: 1.125rem;
  }

  input {
    border: 1px solid #252525;
    padding: 1rem;
    border-radius: 2px;
    background-color: #f1e5f1;
    width: 100%;
  }
  button {
    background-color: purple;
    color: #fff;
    width: 100%;
    padding: 10px 20px;
  }
}
