.transaction {
  padding: 20px;
  .transactionTitle {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .tableBtn {
    background-color: #20ca7f;
    color: #fff;
    padding: 7px 10px;
    border-radius: 3px;
  }
}
