.widgets,
.charts {
  display: flex;
  margin: 20px;
}
.widgets {
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.27);
  -webkit-box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.27);
}

.charts {
  margin: 5px 20px;
}

.listContainer {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  margin: 20px;
  padding-top: 20px;
}
